Repository TicketSwap/php-cs-fixer-config: changes, and which lefthook commands are due for each by the changed paths.
All: sync-readme-examples, composer-validate, composer-normalize, php-cs-fixer

lefthook.yml:

pre-commit:
    parallel: false
    commands:
        sync-readme-examples:
            glob:
                - "*.php"
                - "*.md"
            run: vendor/bin/readme-examples-sync
            stage_fixed: true

        composer-validate:
            glob:
                - "composer.json"
                - "composer.lock"
            run: composer validate --strict

        composer-normalize:
            glob: "composer.json"
            run: composer normalize --diff
            stage_fixed: true

        php-cs-fixer:
            glob: "*.php"
            run: vendor/bin/php-cs-fixer fix --config .php-cs-fixer.php -- {staged_files}
            stage_fixed: true

Add CI workflow
  .github/workflows/ci.yml
Due: none

Bump composer-normalize
  composer.json
  composer.lock
Due: composer-validate, composer-normalize

Ensure PHPDocs are always above attributes for classes
  src/Fixer/PhpdocAboveAttributeFixer.php
  src/RuleSet/TicketSwapRuleSet.php
Due: sync-readme-examples, php-cs-fixer

Ensure PHPDocs are always above attributes for classes (#1)
  src/Fixer/PhpdocAboveAttributeFixer.php
  src/RuleSet/TicketSwapRuleSet.php
Due: sync-readme-examples, php-cs-fixer

Add multiline_whitespace_before_semicolons
  src/RuleSet/TicketSwapRuleSet.php
Due: sync-readme-examples, php-cs-fixer

Add multiline_whitespace_before_semicolons (#2)
  src/RuleSet/TicketSwapRuleSet.php
Due: sync-readme-examples, php-cs-fixer

Enforce multi line phpdocs everywhere
  composer.json
  composer.lock
  src/RuleSet/TicketSwapRuleSet.php
Due: sync-readme-examples, composer-validate, composer-normalize, php-cs-fixer

Enforce multi line phpdocs everywhere (#3)
  composer.json
  composer.lock
  src/RuleSet/TicketSwapRuleSet.php
Due: sync-readme-examples, composer-validate, composer-normalize, php-cs-fixer

Change PER ruleset
  src/RuleSet/TicketSwapRuleSet.php
Due: sync-readme-examples, php-cs-fixer

Change PER ruleset (#4)
  src/RuleSet/TicketSwapRuleSet.php
Due: sync-readme-examples, php-cs-fixer

[QA] Add Rector for QA
  .github/workflows/ci.yml
  composer.json
  composer.lock
  rector.php
  src/Fixer/PhpdocAboveAttributeFixer.php
  src/RuleSet.php
Due: sync-readme-examples, composer-validate, composer-normalize, php-cs-fixer

register lefhook
  lefthook.yml
Due: none

normalize composer.json
  composer.json
  composer.lock
Due: composer-validate, composer-normalize

[QA] Add Rector for QA (#5)
  .github/workflows/ci.yml
  composer.json
  composer.lock
  lefthook.yml
  rector.php
  src/Fixer/PhpdocAboveAttributeFixer.php
  src/RuleSet.php
Due: sync-readme-examples, composer-validate, composer-normalize, php-cs-fixer

Introduce `NoMultilineReturnFixer`
  src/Fixer/NoMultilineReturnFixer.php
  src/RuleSet/TicketSwapRuleSet.php
Due: sync-readme-examples, php-cs-fixer

Introduce `NoMultilineReturnFixer` (#6)
  src/Fixer/NoMultilineReturnFixer.php
  src/RuleSet/TicketSwapRuleSet.php
Due: sync-readme-examples, php-cs-fixer

Set `NoMultilineReturnFixer` priority to run before `ArrayIndentationFixer`
  src/Fixer/NoMultilineReturnFixer.php
Due: sync-readme-examples, php-cs-fixer

Set `NoMultilineReturnFixer` priority to run before `ArrayIndentationFixer` (#7)
  src/Fixer/NoMultilineReturnFixer.php
Due: sync-readme-examples, php-cs-fixer

Drop PHP 8.4 support
  .github/workflows/ci.yml
  composer.json
  composer.lock
Due: composer-validate, composer-normalize

Drop PHP 8.4 support (#8)
  .github/workflows/ci.yml
  composer.json
  composer.lock
Due: composer-validate, composer-normalize
